In [1]:
#Create pandas data frame by hard coding
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')
df = pd.DataFrame(zip(['001','001','002','002','002'],
                      ['2019-01-01','2019-01-01','2019-05-01','2019-05-01','2019-05-01'],
                      ['2019-12-01','2019-12-01','2020-07-31','2020-07-31','2020-07-31'],
                      ['prod1','prod2','prod1','prod3','prod4'],
                      ['prod1_name','prod2_name','prod1_name','prod3_name','prod4_name']),
                  columns = ['customer_id', 'start_date','end_date','product_id','product_name'])
df

  customer_id  start_date    end_date product_id product_name
0         001  2019-01-01  2019-12-01      prod1   prod1_name
1         001  2019-01-01  2019-12-01      prod2   prod2_name
2         002  2019-05-01  2020-07-31      prod1   prod1_name
3         002  2019-05-01  2020-07-31      prod3   prod3_name
4         002  2019-05-01  2020-07-31      prod4   prod4_name

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
customer_id     5 non-null object
start_date      5 non-null object
end_date        5 non-null object
product_id      5 non-null object
product_name    5 non-null object
dtypes: object(5)
memory usage: 328.0+ bytes

In [6]:
#Group Data
df_group = df.groupby(('customer_id', 'start_date','end_date'))\
             .agg({'product_id': lambda x :list(x),
                   'product_name': lambda x :list(x)
                   })
df_group.reset_index(inplace = True)
df_group

,customer_id,start_date,end_date,product_id,product_name
0,001,2019-01-01,2019-12-01,"[prod1, prod2]","[prod1_name, prod2_name]"
1,002,2019-05-01,2020-07-31,"[prod1, prod3, prod4]","[prod1_name, prod3_name, prod4_name]"